.section ul{
    width: 60%;
}
.section li{
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    line-height: 300%;
    position: relative;
}
.section li span{
    background: url(../images/circle-play-regular.png) 100%/cover;
    left: 50%;
    bottom: 60%;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    transform: translate(-50%,50%);
}
.info ul li:nth-child(1){flex: 1 1 33%;}
.info ul li:nth-child(2){flex: 1 1 33%;}
.info ul li:nth-child(3){flex: 1 1 33%;}
.info ul li:nth-child(4){flex: 1 1 33%;}
.info ul li:nth-child(5){flex: 1 1 66%;}
.info ul li:nth-child(6){flex: 1 1 100%;}
.info dt{flex: 1 1 33%;}
.info dd:nth-of-type(1){flex: 1 1 33%;}
.info dd:nth-of-type(2){flex: 1 1 33%;}
.info dd:nth-of-type(3){flex: 1 1 33%;}
.info dd:nth-of-type(4){flex: 1 1 33%;}
.info dd:nth-of-type(5){flex: 1 1 33%;}

.content::before{
    content: '';
    display: block;
    padding-top: 80%;
}
.content ul{
    height: 85%;
}

.content li:nth-child(1){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(2){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(3){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(4){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(5){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(6){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(7){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(8){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(9){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(10){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(11){flex: 1 1 32%; margin: 0.5%;}
.content li:nth-child(12){flex: 1 1 32%; margin: 0.5%;}

.coming::before{
    content: '';
    display: block;
    padding-top: 60%;
}
.coming ul{
    height: 55%;
}
.coming ul li{
    flex: 0 1 31%;
    margin: 1%;
}
.service ul{
    width: 90%;
}
footer ul{
    top: 20%;
    width: 70%;
}